.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  z-index: 100;
}

.modal-container {
  background-color: wheat;
  border-radius: 15px;
  border: 3px solid black;
  padding: 5px;
}

.overlays {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .modal-wrapper {
    width: 75vw;
    top: 40%;
  }
}
