body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ====================================================== */
span {
  margin-right: 10px;
}

P {
  padding: 0;
  margin: 2px;
}

.main-wrapper {
  background-color: darkgrey;
  border: black 1px solid;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 95vh;
  justify-self: center;
  text-align: center;
}

.my-button {
  margin-left: 3px;
  margin-bottom: 5px;
  background-color: lightsalmon;
  border-radius: 5px;
  cursor: pointer;
}
