body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ====================================================== */
.mainBody {
  background-color: darkgrey;
  border: black 1px solid;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-self: center;
}

#inputDiv {
  background-color: lightgray;
  margin: 25px;
  border-radius: 15px;
}

.class-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.card-item {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.card-top > h4 {
  margin: 0;
}
.card-bottom {
  border: black 0.2px solid;
  padding: 3px;
  background-color: lightgray;
}
P {
  padding: 0;
  margin: 2px;
}

.titleInput {
  display: block;
  margin: 5px auto;
  height: 15px;
}
.textInput {
  display: block;
  margin: auto;
}

.delete-button {
  margin-left: 3px;
  background-color: lightsalmon;
  opacity: 80%;
  border-radius: 5px;
}
