body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ====================================================== */
.mainBody {
  background-color: darkgrey;
  border: black 1px solid;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-self: center;
}

#inputDiv {
  background-color: lightgray;
  margin: 25px;
  border: solid red 1px;
}
#inputDiv > form {
  border: blue 1px solid;
}

.class-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.card-item {
  background-color: lightgray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.card-top > h2 {
  margin: 0;
}
.card-bottom {
  border: black 0.2px solid;
  padding: 3px;
}
P {
  padding: 0;
  margin: 2px;
}

.titleInput {
  display: block;
  margin: 5px auto;
  height: 15px;
}
.textInput {
  display: block;
  margin: auto;
}
