.input-wrapper {
  background-color: lightgray;
  margin: 25px;
  border-radius: 15px;
}

.title-input {
  display: block;
  margin: 5px auto;
  height: 15px;
}

.text-input {
  display: block;
  margin: auto;
  background-color: lightsalmon;
  border-radius: 5px;
  cursor: pointer;
}
